html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

}

#abc {
width:100%;
height:100%;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}

img#close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
div#popupContact {
position:absolute;
left:50%;
top:17%;
margin-left:-202px;
}
#formy {
max-width:300px;
min-width:250px;
padding:10px 50px;
border:2px solid gray;
border-radius:10px;
background-color:#fff
}

hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}

#submit {
text-decoration:none;
width:100%;
text-align:center;
margin-top: 20px;
display:block;
background-color:#666;
color:#fff;
border:1px solid #141414;
padding:10px 0;
font-size:20px;
cursor:pointer;
transition: 1s ease;
border-radius:5px
}

#submit:hover {
  cursor: pointer;
  background-color: #141414;
}

form {
  text-align: center;
  margin-bottom: 20px;
}

.add-book--container {
  width: min-content;
  background-repeat: round;
  background-image: url(../assets/cover.png);
  background-size: cover;
  background-color: black;
  padding: 40px;
  visibility: hidden;
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 10px;
  transition: .6s ease;
  border: 1px #666 solid;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

.add-book--container:hover {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.55);

}

h1 {
  text-align: center;
  padding: 15px;
  letter-spacing: 1.5px;
  color: #141414;
  text-shadow: 0 0 1.5px #666, 0 0 2px #141414;
  margin-top: 35px;
}

.absolute-center {
  margin: 0 auto;
  width: fit-content;
}

label {
  margin-bottom: 10px;
  display: block;
  text-align: left;
  color: #FFF;
}

label[for="name"] {
  color: #000;
}

.add-form {
  position: relative;
  transition: all 1.2s ease;
}

.arrow--container {
  text-align: center;
  outline: none;
  margin-bottom: 10px;
}

.arrow--container p {
  font-size:1.5em;
}

#container {
  margin-bottom: 40px;
}

i {
  font-size:3.5em;
  outline: none;
  transition: 1s ease;
}

i:hover {
  cursor: pointer;
  transform: scale(0.9);
}

button {
  margin-top: 15px;
  padding: 15px;
  border-radius:10px;
  outline: none;
  font-family: 'Roboto', sans-serif;
  background: #666;
  color: #FFF;
  transition: 1s ease;
  border: none;
}

button:hover {
  cursor: pointer;
  background: #141414;
}

input[type="text"] {
  padding: 15px;
  outline: none;
  display: block;
  margin: 0 auto;
  border-radius:10px;
}

.book-item {
  width:90%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px #666 solid;
  border-radius: 10px;
  max-width:400px;
}

.book-item *:not(button) {
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;

}

.book-item :nth-child(2):not(button)  {
  font-size: 0.87em;
  color: 	#707070;
}

.book-item :nth-child(3)  {
  font-size: 0.87em;
  color: #666;
}

.res-button{
  margin: inherit;
  display: block;
  border: 2px solid;
  color: #FFF;
  border-color: green;
  margin: inherit;
  display: block;
  background-color: green;
}

.res-button:hover {
  background-color: white;
  color: green;
}

.del-button{
  border: 2px solid;
  border-color: #8b0000;
  margin: inherit;
  color: #FFF;
  display: block;
  background-color: #8b0000;
}

.del-button:hover {
  background-color: white;
  color: #8b0000;
}

.div-id {
  display: flex;
  justify-content: space-around;
}
